head, body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, footer {
    align-content: center;
    height: 80px;
    width: 100vw;
    flex: 0 0 auto;
}

aside {
    flex: 1 1 auto;
    flex-grow: 1;
    max-width: 200px;
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    flex: 1 0;
    width: calc(100vw - 400px);
    height: calc(100vh - 160px);
}

.flex-container {
    display: flex;
    flex-direction: row;
}


.flex-container#img-container {
    display: flex;
    max-height: 400px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    order: 1;
}

#img-container>* {
    flex: 1;
    max-width: 400px;
    overflow: hidden;
    filter: drop-shadow(3px 3px 5px gray);
}

.no-voting {
    opacity: .2;
}

#result-btn {
    /* flex: 0 0 auto; */
    height: 35px;
    width: 125px;
    align-self: center;
    left: -50%;
    /* order: 1 */
}

section#results {
    display: flex;
    min-height: 100px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    order: 2;
}


.clicks-allowed {
    display: block;
}

ul> li {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding-bottom: 20px;
}

canvas {
    flex: 1 1 auto;
    order: 4;
}

#product-vote-chart {
    flex: 1 1;
}

#btn-container {
    flex-direction: row;
    order: 3;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
